.loadingWrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100vw;
  height: 100vh;
  background-color: rgba(#1f1f1f, 0.6);
  display: grid;
  place-content: center;
}

.loading {
  display: inline-block;
  vertical-align: middle;
  color: #666;
  line-height: 1;
  width: 1em;
  height: 1em;
  border: 0.12em solid currentColor;
  border-top-color: rgba(102, 102, 102, 0.3);
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
