.inputWrapper {
  position: relative;
}

.inputContent {
  position: absolute;
}

.input {
  border: 0;
  background-color: #fff;
  outline: none;
  transition: 0.2s;
  box-sizing: border-box;
  width: 100%;
}
